
<div class="form-group">
<label>name</label>
<input name="name" value="<%= @user.name %>">
</div>
<div class="form-group">
<label>email</label>
<input name="email" value="<%= @user.email %>">
</div>
<div class="form-group">
<label>password</label>
<input type="password" name="password" value="<%= @user.password %>">
</div>
<div class="text-center">
<input type="submit" value="保存">
</div>