<%= render 'workouts/header' %>
<html lang="ja" >
  <body  class="text-center" >
    <div class="inner">
      <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
          <h3 class="masthead-brand">training memo</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="/login">ログイン</a>
          </nav>
        </header>
      </div>
      <main role="main" class="inner cover">
        <p class="lead">あなたのトレーニングをサポートします</p>
        <a href="/users/new" class="btn btn-lg btn-secondary">新規登録</a>
      </main>
    </div>
  </body>
</html>
